body{
  background: #B91450;
}

header{
  color: white;
}

.wrapper{
  width: 70%;
  margin: auto;
}

.white{
  background: white;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
}

.white input, .white select{
  margin: 20px auto 0;
  border: 1px solid #B91450;
  border-radius: 5px;
  width: 80%;
}

.button{
  margin-top: 30px;
}
.my-btn{
  border: 1px solid #B91450;
}

.vanish{
  animation-name: disappear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes disappear {

  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }

}

.show{
  animation-name: appear;
  animation-duration: 1s;
}

@keyframes appear {

  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }

}

.different{
  margin-left: 0;
  margin-right: 0;
  border: 1px solid grey;
}
.first{
  padding-left: 0;
}
.last{
  padding-right: 0;
}

.margin{
  margin-top: 20px;
  height: 25vh;
  border: 3px solid grey;
}

.height{
  height: 100%;
}

.nome-passeggero{
  background: grey;
}

.flex{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media screen and (max-width: 550px) {

  .margin{
    height: 15vh;
  }

  .height{
    font-size: 10px;
  }

}
